  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
    <a class="navbar-brand" routerLink="/home">Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" *ngIf="isUserAuthenticated" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="isUserAuthenticated" routerLink="/about">About</a>
        </li>
        <div *ngIf="isUserAuthenticated" class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle"
                    aria-controls="dropdown-basic">
             Posts <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" routerLink="/posts">View Posts</a></li>
              <li role="menuitem"><a class="dropdown-item" routerLink="/addPost" >Add Post</a></li>
            </ul>
        </div>
        
      </ul>
      <ul class="navbar-nav ml-auto">
          
        <li class="nav-item">
          <a class="nav-link"  *ngIf="!isUserAuthenticated" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="!isUserAuthenticated" routerLink="/">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor" routerLink="/profile" *ngIf="isUserAuthenticated">Profile</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link cursor" (click)="logout()"  *ngIf="isUserAuthenticated" >Logout</a>
        </li>
      </ul>
      
    </div>
  </div>
  </nav>

