<div class="container">
  <div class="mt-2">
      <h2>All Posts</h2>
    <div class="col-md-6" *ngFor="let post of posts">
      <div class="card mt-1">
        <div class="card-header">
          {{post.title}}
        </div>
        <div class="card-body">
          <p>{{post.content}}</p>
        </div>
        <div>
          <img src="{{post.image}}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  
</div>
