<div class="container">
  <div class="col-md-6 mx-auto mt-2">
      <h2 class="text-center">Edit Profile</h2>
    <form action="" #userUpdateForm="ngForm" (ngSubmit)="updateUser(userUpdateForm)"  novalidate>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [value]="userDetails.name" [(ngModel)]="userDetails.name" #name="ngModel" class="form-control"  name="name" required>
       <label *ngIf="userUpdateForm.submitted && name.errors?.required" class="text-danger">name required</label>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" [(ngModel)]="userDetails.email" [value]="userDetails.email" name="email" #email="ngModel" required>
      <label *ngIf="userUpdateForm.submitted && email.errors?.required" class="text-danger">email required</label>
      <label *ngIf="userUpdateForm.submitted && email.errors?.email" class="text-danger">please enter correct email</label>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" value="" [(ngModel)]="userDetails.phone" maxlength="10" [value]="userDetails.phone" pattern="[0-9]{10}"  class="form-control" #phone="ngModel" name="phone">
      <label *ngIf="userUpdateForm.submitted && phone.errors?.pattern " class="text-danger">Please enter correct number</label>
      </div>
      <div class="form-group">
        <label for="Address">Address</label>
        <textarea class="form-control" [(ngModel)]="userDetails.address" name="address"  cols="30" rows="5">{{userDetails.address}}</textarea>
      </div>
      <div class="form-group">
        <input type="submit" value="update" name="submit" class="btn btn-primary">
      </div>
      </form>
  </div>
</div>