<div class="card card-body">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2>Login</h2>
            <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)" action="" novalidate>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" [(ngModel)]="user.email" #email="ngModel" name="email" class="form-control" required>
                    <label *ngIf="loginForm.submitted && email.errors?.required" class="text-danger">email required</label>
                    <label *ngIf="loginForm.submitted && email.errors?.email" class="text-danger">please enter correct email</label>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" [(ngModel)]="user.password" #password="ngModel" name="password" class="form-control" required>
                    <label *ngIf="loginForm.submitted && password.errors?.required" class="text-danger">password required</label>
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-primary" value="submit">
                </div>
            </form>
        </div>
    </div>
</div>