<div class="card card-body">
  <div class="row justify-content-center">
  <div class="col-md-4">
    <h2>Registeration</h2>
    <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm)" action="" novalidate>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="user.name" #name ="ngModel" name="name" class="form-control" required>
        <label *ngIf="registerForm.submitted && name.errors?.required" class="text-danger">name  required</label>
      </div>
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" [(ngModel)]="user.email" #email="ngModel" name="email"  class="form-control" required>
          <label *ngIf="registerForm.submitted && email.errors?.required" class="text-danger">email required</label>
          <label *ngIf="registerForm.submitted && email.errors?.email" class="text-danger">please enter correct email</label>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="user.password" #password="ngModel" name="password" class="form-control" required>
        <label *ngIf="registerForm.submitted && password.errors?.required" class="text-danger">password  required</label>
      </div>
      <div class="form-group">
          <label for="password1">Confirm Password </label>
          <input type="password" [(ngModel)]="user.password1" #password1="ngModel" name="password1"  class="form-control" required>
          <label *ngIf="registerForm.submitted && password1.errors?.required" class="text-danger">confirm password required</label>
          <label *ngIf="registerForm.submitted && !password1.errors?.required && passwordMismatch" class="text-danger">Password does not match</label>
        </div>
      <div class="form-group">
        <input type="submit" name="submit" class="btn btn-primary" value="submit">
      </div>
    </form>
  </div>
</div>
</div>

