<div class="container mt-2">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <h2>Add Post</h2>
          <form [formGroup]="createPostForm" (ngSubmit)="createPost()" action="">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" formControlName="title" class="form-control">
              <label *ngIf="isSubmitted && createPostForm.controls['title'].errors?.required" class="text-danger">Title is required</label>
            </div>
            <div class="form-group">
              <label for="content">Content</label>
              <textarea class="form-control" formControlName="content" cols="10" rows="5"></textarea>
              <label *ngIf="isSubmitted && createPostForm.controls['content'].errors?.required" class="text-danger">Content is required</label>
            </div>
            <div class="form-group">
              <label for="image">Select Image</label><br>
              <input type="file" (change)="onImagePicked($event)" >
            </div>
            <div *ngIf="imagePreview" class="col-md-8 mb-2">
              <img [src]="imagePreview" class="img-thumbnail" >
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary" name="submit" value="Add Post">
            </div>
        </form>
        </div>
  </div>
</div>